* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../images/space.jpg');
}

footer, header, main {
  padding: 15px;
}

.intro {
  margin: 10px;
  padding: 20px;
}

footer {
  grid-column: 1 / -1;
}

header {
  grid-column: 1 / -1;
  background: linear-gradient(to top left, rgba(0, 0, 0, 0), burlywood);
}

.card {
  margin: 10px;
  padding: 20px;
}

.card p {
  padding: 5px;
}

.container {
  display: grid;
  grid-template-rows: 75px auto 100px;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cards {
  display: flex;
}

.card {
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  margin: 2rem;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.carousel {
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  width: 300px;
  height: 450px;
  overflow: hidden;
}

.next::after {
  content: '>';
  position: absolute;
  top: 50%;
  right: 0;
  background-color: white;
  font-size: 15px;
  transform: translateY(-50%);
  line-height: 3rem;
  box-sizing: border-box;
  padding: 0 0.2rem;
  cursor: pointer;
  opacity: 0.25;
}

.prev::after {
  content: '<';
  position: absolute;
  top: 50%;
  left: 0;
  background-color: white;
  font-size: 15px;
  transform: translateY(-50%);
  line-height: 3rem;
  box-sizing: border-box;
  padding: 0 0.2rem;
  cursor: pointer;
  opacity: 0.25;
}

.next:hover::after, .prev:hover::after {
  opacity: 1;
}

.inner {
  display: flex;
  position: absolute;
  left: 0;
  transition: left 0.25s ease-out;
}
