@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
* {
  font: 400 15px 'Roboto';
}

h1 {
  font-size: 3rem;
}

small {
  font-size: .8rem;
  background-color: white;
}

.card {
  background: linear-gradient(to top, rgba(0, 0, 0, 0), burlywood);
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card a {
  font-weight: 700;
}

.card h2 {
  font-size: 2rem;
}

.card__pic {
  width: 300px;
  height: 450px;
  border-radius: 2rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.intro {
  font-size: 2rem;
  background: burlywood;
  border-radius: 1rem;
}

p {
  margin: auto;
}

.info {
  display: none;
}
