*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root{
	--gap: 20px;
}

footer,
header,
main {
    padding: 15px;
}
footer {
    grid-column: 1 / -1;
}
header {
    grid-column: 1 / -1;
    
}

.card {

    margin: 10px;
    padding: 20px;
}

.card p {
    padding: 5px;
}

.container {
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: 75px auto 120px;
    min-height: 100vh;
}

header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cards{
    display:flex;
}

.card{
    display:flex;
    flex-basis: 0;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
}
