*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root{
	--gap: 20px;
}

.container{
	display:grid;
	height: 100vh;
	grid-template-columns: 2fr 6fr 2fr;
	grid-template-rows: 75px auto 75px;
	grid-gap: var(--gap);
	margin: var(--gap);
}

.header, .footer{
	grid-column:1/-1;
} 

.project__content{
	display:grid;
	grid-template-rows: 1/3;
	grid-gap: var(--gap);
}

.right__sidebar{
	display:grid;
	grid-template-rows:1/3;
	grid-gap:var(--gap);

}

.left__sidebar{
	display:grid;
	grid-template-rows:1/4;
	grid-gap:var(--gap);
}

nav ul{
	display:flex;
	justify-content: flex-end;
	background-color: black;
}
nav ul li{
	margin: 5px;
	list-style-type: none;
}