* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid red; */
}

:root {
  --gap: 20px;
}

.container {
  display: grid;
  grid-template-columns: 1.3fr 3fr 1fr;
  grid-template-rows: 75px auto 75px;
  grid-column-gap: var(--gap);
  grid-row-gap: .5rem;
  margin: var(--gap);

}

.header, .footer {
  grid-column: 1/-1;
}

.footer{
  display: flex;
  justify-content: center;
  align-self: center;
}

.project__content {
  display: grid;
  grid-template-rows: 1/4;
  grid-gap: var(--gap);
}

.right__sidebar {
  display: grid;
  grid-template-rows: 1/3;
  grid-gap: var(--gap);
}

.left__sidebar {
  display: grid;
  grid-template-rows: 1/4;
  grid-gap: var(--gap);
}

#pic {
  display: flex;
  justify-content: flex-start;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 2px 4px 13px 0 rgba(0, 0, 0, 0.19);
  transform: translateX(100vw);
  animation-name: spin;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-play-state: running;
  animation-iteration-count: 1;
  transform-origin: center center;
}

/*
	SORT
	transform: scale
	transform: opacity
	transform: rotate
	transform: translate
*/

@keyframes spin {
  0% {
    opacity: 0;
    transform: translateX(100vw) rotate(0deg);
  }
  50% {}
  90% {
    opacity: 1;
    transform: translateX(0) rotate(360deg);
  }
  95% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

nav ul li {
  margin-right: 8px;
  list-style-type: none;
}

.skills {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.left__sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.left__note4 {
  display: flex;
  justify-content: space-around;
}

.right__sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.left__sidebar__title {
  display: flex;
  justify-content: center;

}

.placement {
  display: flex;
  justify-content: center;
}

.modal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close__button {
  display: flex;
  justify-content: center;
  align-self: flex-end;
}