@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
* {
  font: 700 16px 'Open Sans', sans-serif;
}

input{
  display: none;
}

.fix {
  position: fixed;
}

.footer {
  color: #011;
}

.project {
  border-radius: 1rem;
  color: black;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 2px 4px 13px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
}



.right__note1 {
  /* border-top: 2px solid black; */
}

.left__note1, .left__note2, .left__note3{
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

.left__note4{
  padding-bottom: 10px;
}

#pic {
  width: 22em;
  border-radius: 1rem;
}

.project__image{
  /* width: 100%; */
  height: 100%;
  border-radius: 1rem;
  z-index: -1;
}


.project__title{
  display: none;
  align-self: flex-start;
  position: absolute;
  background-color: #ffffffdb;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding-left: 4px;
  padding-right: 4px;
}

.project:hover .project__title {
  display:block;
}

label p{
  display: none;
  background-color: white;
  }

h1 {
  font-size: 1.75rem;
}

a {
  text-decoration: none;
}

button {
  background-color: lightgray;
  padding: .2rem 2rem;
  border-radius: 3px;
  border: 0;
  margin: 4px;
  cursor: pointer;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
}

button:hover {
  background-color: gray;
}

h2 {
  font-size: 1.25rem;
}

p {
  margin: 1rem;
}

#married {
  width: 50%;
  height: 50%;
  border-radius: 1rem;
}
#drop__menu{
  display:flex;
  flex-direction: row;
}
/* #drop__menu {
  background-color: rgba(255, 255, 255, 0.87);
  display: none;
  position: absolute;
  z-index: 1;
  padding: 2px;
  border-radius: 1rem;
  border: 1px solid navy;
} */

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
}

.modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 1rem;
  border: 1px solid navy;
}

.close__button {
  width: 1.5rem;
  cursor: pointer;
  border-radius: 3px;
  background-color: lightgray;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
}

.close-button:hover {
  background-color: darkgray;
}

.show-modal {
  opacity: 1;
  visibility: visible;
}

.calendar{
  border-radius: 1rem;
  color: black;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 2px 4px 13px 0 rgba(0, 0, 0, 0.19);
}

.skills__used{
  font-style: italic;
}


.carousel {
  position:relative;
  width:100%;
  padding: 1rem;
}
.carousel > img {
  display:none;
  width:100%;
}
.carousel > input {
  position:absolute;
  left:-9999px;
}
.carousel > input:checked + label + img {
  display:block;
}

.carousel > label,
.carousel > input:checked ~ label ~ label ~ label ~ label {
  display:none;
}
.carousel > input:checked + label {
  display:block;
  left:0;
}
.carousel > input:checked ~ label ~ label ~ label {
  display:block;
  right:0;
}

.carousel > label {
  position:absolute;
  top:0;
  width:25%;
  height:100%;
  visibility:hidden;
}
.carousel > label:before {
  content:'';
  display:block;
  position:absolute;
  width:100%;
  height:100%;
  visibility:visible;
}
.carousel > label:after {
  display:block;
  position:absolute;
  top:50%;
  width:25px;
  height:25px;
  line-height:22px;
  margin:-15px 10px 0 10px;
  background-color:black;
  color:white;
  font-family:'Arial';
  font-weight:bold;
  font-size:18px;
  text-align:center;
  visibility:hidden;
  border-radius:2rem;
}
.carousel > label:hover:after {
  visibility:visible;
}

.carousel > input:checked + label:after {
  left:0;
  content:'\00AB';
}
.carousel > input:checked ~ label ~ label ~ label:after {
  right:0;
  content:'\00BB';
}

.carousel{
  display:flex;
  justify-content: center;
}