@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
    font: 700 16px 'Open Sans', sans-serif;
}


.footer {
    color: #011;
    border-top: 2px solid navy;
}
.header {
    border-bottom: 2px solid navy;
}
.project1,
.project2,
.project3,
.project4,
.project5 {
	border-radius: 1rem;
	border: 1px solid navy;
    color: black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.right__note1 {
    border-top: 2px solid navy;
}
.left__note1,
.left__note2,
.left__note3,
.left__note4 {
    border-bottom: 2px solid navy;
}


#pic{
	width: 400px;
	height: 500px;
	border-radius: 1rem;
	border: 5px solid white;
}

#project__area__1{
	width: 50%;
	height: 50%;
	border-radius: 1rem;
	border: 5px solid white;
}

#project__area__2{
	width: 50%;
	height: 50%;
	border-radius: 1rem;
	border: 5px solid white;
}

#project__area__3{
	width: 45%;
	height: 45%;
	border-radius: 1rem;
	border: 5px solid white;
}

#project__area__4{
	width: 45%;
	height: 45%;
	border-radius: 1rem;
	border: 5px solid white;
}
#project__area__5{
	width: 50%;
	height: 50%;
	border-radius: 1rem;
	border: 5px solid white;
}

h1{
	font-size: 24px;
}

a{
	text-decoration: none;
}

button{
	border-radius: 1rem;
	background-color: lightgray;
	padding-top:4rem;
	padding-bottom: 4rem;
}

button:hover{
	background-color: gray;
}