@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
    font: 700 16px 'Open Sans', sans-serif;
    color: #eee;
}

.container {
}
.footer {
    color: #011;
    border-top: 2px solid cadetblue;
}
.header {
	text-color: black;
    border-bottom: 2px solid cadetblue;
}
.project1,
.project2,
.project3 {
	border-radius: 5px;
	border: 1px solid cadetblue;
    color: #011;
}
.right__note1,
.right__note2,
.right__note3 {
    color: #011;
    border-top: 2px solid cadetblue;
}
.left__note1,
.left__note2,
.left__note3,
.left__note4 {
    color: black;
    border-bottom: 2px solid cadetblue;
}